{% extends 'generic/core/core.html' %} {% load static %} {% load service_custom_tags %}
{% block content %}
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a class="text-muted fw-light" href="{% url list_url %}">{{ custom_title|capfirst }}</a>/</span> {{ form_action|capfirst }} {{ instance_object.name }}</h4>
    {% include 'generic/views/create_update/elements/notification.html' %}
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <form class="needs-validation" novalidate enctype="multipart/form-data" method="POST">
        {% csrf_token %} {% block form_field %}

        {% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
