{% extends "generic/core/core.html" %} {% load static %} {% load service_custom_tags %}
{% block content %}
{% setvar request.resolver_match.view_name as view_name %}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">

{% block banner %}
{% endblock banner %}

  <div class="row">

      <h4 class="fw-bold py-3 mb-4">
        {% if  list_url%}
        <span class="text-muted fw-light"><a class="text-muted fw-light" href="{% url list_url %}">{{ custom_title }}</a>/</span>#{{instance_object.id }}-{{ instance_object.name }}
        {% endif %}
        {% if placeholder_title %}
        <span class="text-muted fw-light"></span>{{ custom_title }}
        {% endif %}
        
      </h4>
      <div class="nav-align-top mb-4">
        <ul class="nav nav-pills mb-3" role="tablist">
          {% block nav_menue %}
          {% endblock nav_menue %}

          {% if view_name != 'contact_details' %}
          {% if  delete_url %}
          {% include 'generic/views/details_view/elements/li_tab_core.html' with tab_name='admin' %}
          {% endif %}
          {% endif %}

          
        </ul>
        <div class="tab-content custom-tab-content">

          {% block nav_content %}
          {% endblock nav_content %}

          {% if view_name != 'contact_details' %}
          {% if  delete_url %}
          {% include 'generic/views/details_view/elements/tab_content_admin.html' with placeholder_delete_url=delete_url%}
          {% endif %}
          {% endif %}


        </div>
      </div>

  </div>
</div>
{% endblock %}
