{% load static %}
{% load service_custom_tags %}

{% get_service_per_idp as service_per_idp %}
{% get_total_services as total_services %}

<div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
  <div class="card h-100">
    <div class="card-header d-flex align-items-center justify-content-between pb-0">
      <div class="card-title mb-0">
        <h5 class="m-0 me-2 mb-4">Services link to IDP</h5>
      </div>
    </div>
    <div class="card-body">
      <ul class="p-0 m-0">
        {% for idp in service_per_idp %}
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="rounded">
                {% if idp.identity_provider__icon_url %}
                  <img src="{{ idp.identity_provider__icon_url }}" alt="IDP ison" class="rounded" />
                {% else %}
                  <span class="avatar-initial rounded bg-label-primary"></span>
                {% endif %}
              </span>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">{{ idp.identity_provider__name }}</h6>
              </div>
              <div class="user-progress">
                <small class="fw-semibold">{{ idp.count }} ({% get_ratio idp.count total_services %}%)</small>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
