{% load static %}
{% load service_custom_tags %}
{% load humanize %}

{% get_service_cost_by_department as service_cost_by_department %}

<div class="col-lg-8 mb-4 order-0">
  <div class="card text-center">
    <div class="card-header py-3">
      <h5 class="m-0 me-2 mb-4">Services/Department <i class='bx bx-info-circle'
        data-bs-toggle="tooltip"
        data-bs-offset="0,4"
        data-bs-placement="right"
        data-bs-html="true"
        title="<span>Only active services are displayed. Cost displayed are based on contract with a status not terminated and linked to a service. Order by cost descending</span>"></i>
      </h5>
    </div>
    <div class="tab-content pt-0">
      <div
        class="tab-pane fade show active"
        id="navs-pills-browser"
        role="tabpanel"
      >
        <div class="table-responsive text-start">
          <table class="table table-borderless text-nowrap">
            <thead>
              <tr>
                <th>#</th>
                <th>Department</th>
                <th>Active service</th>
                <th>Cost</th>
                <th>Contract count<th>
              </tr>
            </thead>
            <tbody>

              {% for data in  service_cost_by_department %}
              
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                  <div class="d-flex align-items-center">
                    {% if  data.department_name != blank %}
                    <span>{{ data.department_name }}</span>
                    {% else %}
                    <span>No department selected</span>
                    {% endif %}
                    
                  </div>
                </td>
                <td>{{ data.total_services }}</td>
                <td>
                  <div class="d-flex justify-content-between align-items-center gap-3">
                    {% if  data.total_cost != blank %}
                    <small class="fw-semibold">{{ data.total_cost|floatformat:0|intcomma }} {{ data.duration_unit }}/{{ data.currency }}</small>
                    {% else %}
                    <small class="fw-semibold">No contract</small>
                    {% endif %}
                  </div>
                </td>
                <td>{{ data.count_contract }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
