{% load static %}
{% load service_custom_tags %}
{% load hardware_custom_tags %}
{% load building_custom_tags %}

{% get_total_services as total_services %}
{% get_total_providers as total_providers %}
{% get_total_contracts as total_contracts %}
{% get_total_pricings as total_pricings %}
{% get_total_contacts as total_contacts %}
{% get_total_application as total_application %}
{% get_total_building as total_building %}
{% get_total_hardware as total_hardware %}
{% get_total_hardware_mapping as total_hardware_mapping %}
{% get_total_hardware_rule_mapping as total_hardware_rule_mapping %}
{% get_total_company as total_company %}

<div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
  <div class="card h-100">
    <div class="card-header d-flex align-items-center justify-content-between pb-0">
      <div class="card-title mb-0">
        <h5 class="m-0 me-2 mb-4">Objects created</h5>
      </div>
    </div>
    <div class="card-body">
      <ul class="p-0 m-0">
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-list-ul"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Service</h6>
              <small class="text-muted">Total services created</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_services }}</small>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-radio-circle"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Providers</h6>
              <small class="text-muted">Total providers created</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_providers }}</small>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-primary"><i class="bx bx bx-file"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Contracts</h6>
              <small class="text-muted">Total contracts created</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_contracts }}</small>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-purchase-tag-alt"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Pricings</h6>
              <small class="text-muted">Total pricings created</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_pricings }}</small>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-primary"><i class="bx bxs-contact"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Contacts</h6>
              <small class="text-muted">Total contacts created</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_contacts }}</small>
            </div>
          </div>
        </li>

        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-package"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Applications</h6>
              <small class="text-muted">Total application created</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_application }}</small>
            </div>
          </div>
        </li>

        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-building"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Building</h6>
              <small class="text-muted">Total building created</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_building }}</small>
            </div>
          </div>
        </li>

        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-laptop"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Hardware</h6>
              <small class="text-muted">Total hardware created</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_hardware }}</small>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-list-ul"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Hardware Mapping Rule</h6>
              <small class="text-muted">Total hardware mapping rule created</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_hardware_rule_mapping }}</small>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-list-ul"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Company</h6>
              <small class="text-muted">Total company created</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_company }}</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
