{% load static %}
{% load service_custom_tags %}

{% get_total_services as total_services %}
{% get_total_services_by_status 'active' as total_services_active %}
{% get_total_services_by_status 'suspended' as total_services_suspended %}
{% get_total_services_by_status 'deleted' as total_services_deleted %}

<div class="col-md-6 col-lg-6 col-xl-4 order-0 mb-4">
  <div class="card h-100">
    <div class="card-header d-flex align-items-center justify-content-between pb-0">
      <div class="card-title mb-0">
        <h5 class="m-0 me-2 mb-4">Services: {{ total_services }} total</h5>
      </div>
    </div>
    <div class="card-body">
      <ul class="p-0 m-0">
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-success"><i class="bx bx-list-ul"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Active</h6>
              <small class="text-muted">status is active</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_services_active }} ({% get_ratio total_services_active total_services %}%)</small>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-warning"><i class="bx bx-list-ul"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Suspended</h6>
              <small class="text-muted">status is suspended</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_services_suspended }} ({% get_ratio total_services_suspended total_services %}%)</small>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-danger"><i class="bx bx-list-ul"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Deleted</h6>
              <small class="text-muted">status is deleted</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ total_services_deleted }} ({% get_ratio total_services_deleted total_services %}%)</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
