{% load static %}
{% load service_custom_tags %}
{% load humanize %}

{% get_total_services as total_services %}
{% get_service_without_provider as service_without_provider %}
{% get_service_without_contract as service_without_contract %}
{% get_service_without_pricing as service_without_pricing %}
{% get_service_without_owner as service_without_owner %}

<div class="col-md-6 col-lg-5 col-xl-4 order-0 mb-4">
  <div class="card h-100">
    <div class="card-header d-flex align-items-center justify-content-between pb-0">
      <div class="card-title mb-0">
        <h5 class="m-0 me-2 mb-4">Service without</h5>
      </div>
    </div>
    <div class="card-body">
      <ul class="p-0 m-0">
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-warning"><i class="bx bx-radio-circle"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Providers</h6>
              <small class="text-muted">Total service without provider</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ service_without_provider }} ({% get_ratio service_without_provider total_services %}%)</small>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-warning"><i class="bx bx bx-file"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Contracts</h6>
              <small class="text-muted">Total service without contract</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ service_without_contract }} ({% get_ratio service_without_contract total_services %}%)</small>
            </div>
          </div>
        </li>
        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-warning"><i class="bx bx-purchase-tag-alt"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Pricings</h6>
              <small class="text-muted">Total service without pricing</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ service_without_pricing }} ({% get_ratio service_without_pricing total_services %}%)</small>
            </div>
          </div>
        </li>

        <li class="d-flex mb-4 pb-1">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-warning"><i class="bx bx-user"></i></span>
          </div>
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Owners</h6>
              <small class="text-muted">Total service without owner</small>
            </div>
            <div class="user-progress">
              <small class="fw-semibold">{{ service_without_owner }} ({% get_ratio service_without_owner total_services %}%)</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
