
  <!-- tab -->
  <div
    class="tab-pane fade show"
    id="navs-pills-top-admin"
    role="tabpanel"
  >
    <div class="card mb-4">
      <h5 class="card-header">Delete {{ custom_title|title }}</h5>
      <div class="card-body">
        
          <div class="mb-3 col-m-12 mb-0">
            <div class="alert alert-warning">
              <h6 class="alert-heading fw-bold mb-1">
                Are you sure you want to delete this {{ custom_title|lower }}?
              </h6>
              <p class="mb-0">
                Once you delete the {{ custom_title|lower }}, there is no going back. Please
                be certain.
              </p>
            </div>
          </div>


            <button
              type="button"
              id="button-delete-popover"
              class="btn btn-danger text-nowrap"
              data-bs-toggle="popover"
              data-bs-placement="right"
              data-bs-offset="0,14"
              data-bs-html="true"
              data-bs-content='
                <p>Are you sure you want to delete.</p>
                <div class="d-flex justify-content-between">
                <button type="button data-bs-trigger="focus" class="btn btn-sm btn-outline-secondary">Cancel</button>
                <form id="id_delete_object" action="{% url placeholder_delete_url pk=instance_object.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-sm btn-danger" name="Submit" value="Confirm" />
                </form>
                
                </div>'
              title="Confirm delete" >
              Delete {{ custom_title|lower }}
              
            </button>
      </div>
    </div>
  </div>

<!-- / tab -->
