<form class="needs-validation" novalidate enctype="multipart/form-data" method="POST" id="link_service_application">
  {% csrf_token %}

  <select class="select tom-select-application" name="service" multiple>
    {% if object.get_service_linked %}
      {% for srv in object.get_service_linked %}
        <option selected data-sourceid="{{ object.id }}" value="{{ srv.id }}">{{ srv.name }}</option>
      {% endfor %}
    {% else %}
      <option value="">Select a service</option>
    {% endif %}

    {% for option in all_services %}
      <option data-sourceid="{{ object.id }}" value="{{ option.id }}">{{ option.name }}</option>
    {% endfor %}
  </select>
</form>
