{% load building_custom_tags %}

{% get_all_country as all_country %}
<form class="needs-validation" novalidate enctype="multipart/form-data" method="POST">
  {% csrf_token %}

  <select class="select tom-select-data-location" name="data_location">
    {% if object.data_location %}
      <option selected data-sourceid="{{ object.id }}" value="{{ object.data_location.id }}">{{ object.data_location.name }}</option>
    {% else %}
      <option value="">Select a country for data location</option>
    {% endif %}

    {% for option in all_country %}
      <option data-sourceid="{{ object.id }}" value="{{ option.id }}">{{ option.name }}</option>
    {% endfor %}
  </select>
</form>
