<!-- pricing tab -->
{% load humanize %}
<div class="tab-pane fade {{ tab_active_value }}" id="navs-pills-top-pricings" role="tabpanel">
  <div class="card mb-4">
    <h5 class="card-header">Link pricings</h5>

    <div class="card-body">
      <div class="button-wrapper">
        {% if perms.service.change_application %}
        {% include 'generic/elements/service_link_form.html' with object_list=all_pricings link_name='pricing' placeholder_form_url='application_add_linkpricing' %}
        {% endif %}
      </div>
    </div>

    <hr class="my-0" />

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Action</th>
              <th scope="col">Name</th>
              <th scope="col">Cost/Unit</th>
              <th scope="col">Volume</th>
              <th scope="col">Total Cost</th>
              <th scope="col">Pricing date</th>
            </tr>
          </thead>
          <tbody>
            {% if instance_object.pricing %}
            <tr>
          
              {% include 'service/elements/td_link_object_actions.html' with placeholder_details_url='pricing_details' placeholder_unlink_url='application_remove_linkpricing' pk_source=instance_object.pk lpk_source=instance_object.pricing.pk %}
             
              <td>{{ instance_object.pricing.name }}</td>
              <td>{{ instance_object.pricing.cost_unit|floatformat:2|intcomma }}</td>
              <td>{{ instance_object.pricing.volume|floatformat:2|intcomma }}</td>
              {% if instance_object.pricing.total_cost %}
              <td>
                {{ instance_object.pricing.total_cost|floatformat:2|intcomma }} {{ instance_object.currency }}
              </td>
              {% else %}
              <td>None</td>
              {% endif %}

              <td>{{ instance_object.pricing.pricing_date|date:"d/m/Y" }}</td>
              
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
