<!-- tab main -->
<div class="tab-pane fade {{ tab_active_value }}" id="navs-pills-top-main" role="tabpanel">
  <div class="card mb-4">
    <h5 class="card-header">Main information</h5>
    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="id_application_id" class="form-label">Application ID</label>
          <input class="form-control-plaintext" type="text" name="application_id" id="id_application_id"
            value="{{ instance_object.id }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_name" class="form-label">Application name</label>
          <input class="form-control-plaintext" type="text" name="name" id="id_name" value="{{ instance_object.name }}"
            readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_status" class="form-label">status</label>
          <input class="form-control-plaintext" type="text" name="status" id="id_status"
            value="{{ instance_object.status }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label class="form-label">Icon</label>

          {% if instance_object.icon_url %}
          <img src="{{ instance_object.icon_url }}" alt="application-icon" class="d-block rounded" height="32"
            width="32" id="id_icon_url" />
          {% else %}
          {% include 'generic/elements/icon_placeholder.html' %}
          {% endif %}
        </div>

        <div class="mb-3 col-md-6">
          <label class="form-label" for="id_provider">Provider</label>
          {% if instance_object.provider.id %}
          <a class="btn btn-sm btn-outline-primary" href="{% url 'provider_details' pk=instance_object.provider.id %}">
            {{ instance_object.provider }}
            <span class="tf-icons bx bx-link-external"></span>
          </a>
          {% else %}
          <form action="{% url 'service_quick_create_provider' pk=instance_object.id %}" method="POST" class="">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm" type="submit" data-bs-toggle="tooltip" data-bs-offset="0,4"
              data-bs-placement="top" data-bs-html="true"
              title="<span>Create create provider and link it to the service</span>">
              Create provider

            </button>

          </form>
          {% endif %}
        </div>


      </div>
    </div>
  </div>
  <div class="card mb-4">
    <h5 class="card-header">Data location</h5>

    <div class="card-body">
      <div class="row">

        <div class="mb-3 col-md-6">
          <label for="id_data_location" class="form-label">Data location</label>
          <input class="form-control-plaintext" type="text" name="data_location" id="id_data_location"
            value="{{ instance_object.data_location }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_provider_location" class="form-label">Provider location</label>
          <input class="form-control-plaintext" type="text" name="provider_location" id="id_provider_location"
            value="{{ instance_object.provider_location }}" readonly />
        </div>




      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">IDP information</h5>

    <div class="card-body">
      <div class="row">

        <div class="mb-3 col-md-6">
          <label for="id_idp" class="form-label">IDP</label>
          <input class="form-control-plaintext" type="text" name="idp" id="id_idp" value="{{ instance_object.idp }}"
            readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_sso_type" class="form-label">Type of SSO</label>
          <input class="form-control-plaintext" type="text" name="sso_type" id="id_sso_type"
            value="{{ instance_object.sso_type }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_sso_manage_by_provider" class="form-label">SSO managed by
            the provider</label>
          <input class="form-control-plaintext" type="text" name="sso_manage_by_provider" id="id_sso_manage_by_provider"
            value="{{ instance_object.sso_manage_by_provider }}" readonly />
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">Ownership information</h5>

    <div class="card-body">
      <div class="row">


        <div class="mb-3 col-md-6">
          <label for="id_owner" class="form-label">Owner</label>
          <ul>
            {% for user in instance_object.owner.all %}
            <i><i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}'
                data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="right" data-bs-html="true"
                title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i>
              {{ user.email }}</i><br>
            {% endfor %}
          </ul>
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_administrator" class="form-label">Administrator(s)</label>
          <ul>
            {% for user in instance_object.administrator.all %}
            <i><i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}'
                data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="right" data-bs-html="true"
                title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i>
              {{ user.email }}</i><br>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>