{% load service_custom_tags %}
{% setvar request.resolver_match.view_name as view_name %}

{% setvar 'disabled' as update_class_disabled %}
{% setvar 'disabled' as delete_class_disabled %}

{% if 'application' in view_name and perms.service.change_application %}
{% setvar '' as update_class_disabled %}
{% endif %}

{% if 'application' in view_name and perms.service.delete_application %}
{% setvar '' as delete_class_disabled %} {% endif %}

<td>
  <div class="btn-group" role="group">
    <a class="btn btn-primary btn-icon btn-sm" type="button" href="{% url details_url pk=object.id %}"><i
        class="bx bx-info-circle"></i></a>
    {% if not object.get_service_linked and not object.pricing %}
    {% if perms.service.add_service and perms.service.add_pricing %}
    <form action="{% url 'application_quick_creation' pk=object.id %}" method="POST" class="btn-group">
      {% csrf_token %}
      <button class="btn btn-primary btn-icon btn-sm" type="submit">

        <i class='bx bx-plus' data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true"
          title="<span>Create service, provider and pricing for application</span>"></i>
      </button>

    </form>

    {% endif %}
    {% endif %}

    <button type="button" class="btn btn-primary btn-icon btn-sm dropdown-toggle dropdown-toggle-split"
      data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Action</span>
    </button>

    <ul class="dropdown-menu">
      {% if object.support_url %}
      <li>
        <a class="dropdown-item" href="{{ object.support_url }}"><i class="bx bx-support"></i> Support</a>
      </li>

      {% endif %}
      <li>
        <a class="dropdown-item {{ update_class_disabled }}" href="{% url update_url pk=object.id %}"><i
            class="bx bx-pencil"></i> Edit</a>
      </li>
      <li>
        <a class="dropdown-item {{ delete_class_disabled }}" href="{% url delete_url pk=object.id %}"><i
            class="bx bx-trash-alt"></i> Delete</a>
      </li>
      {% if not object.get_service_linked %} {% if perms.service.add_service %}
      <li>
        <a class="dropdown-item" href="{% url 'application_service_creation' pk=object.id %}"><i
            class='bx bx-list-ul'></i> Create service</a>
        {% endif %} {% endif %}
      </li>
      <li>
        {% if not object.pricing %} {% if perms.service.add_pricing %}
        <a class="dropdown-item" type="button" href="{% url 'application_pricing_creation' pk=object.id %}"><i
            class="bx bx-purchase-tag-alt"></i> Create
          pricing</a>
        {% endif %} {% endif %}
      </li>

    </ul>
  </div>
</td>