{% load service_custom_tags %}
{% load hardware_custom_tags %}
{% get_hardware as all_hardware %}

<form class="needs-validation" novalidate enctype="multipart/form-data" method="POST" id="link_mapping_hardware">
  {% csrf_token %}

  <select class="select tom-select-mapping" name="hardware" multiple>
    {% if object.hardware.all %}
      {% for hardware in object.hardware.all %}
        <option selected data-sourceid="{{ object.id }}" value="{{ hardware.id }}">{{ hardware.name }}</option>
      {% endfor %}
    {% else %}
      <option value="">Select hardware(s)</option>
    {% endif %}

    {% for option in all_hardware %}
      <option data-sourceid="{{ object.id }}" value="{{ option.id }}">{{ option.name }}</option>
    {% endfor %}
  </select>
</form>
