{% load service_custom_tags %}
{% load hardware_custom_tags %}
{% setvar request.resolver_match.view_name as view_name %}

{% setvar 'disabled' as update_class_disabled %}
{% setvar 'disabled' as delete_class_disabled %}

{% if perms.hardware.change_hardwaremapping %}
{% setvar '' as update_class_disabled %}
{% endif %}

{% if perms.hardware.delete_hardwaremapping %}
{% setvar '' as delete_class_disabled %}
{% endif %}

<td>
    <div class="btn-group">
    <a class="btn btn-primary btn-sm btn-icon {{ update_class_disabled }}" type="button" href="{% url update_url pk=object.id %}"><i class='bx bx-pencil'></i></a>
    <a class="btn btn-primary btn-sm btn-icon {{ delete_class_disabled }}" type="button" href="{% url delete_url pk=object.id %}"><i class='bx bx-trash-alt'></i></a>
    </div>
</td>