<!-- tab main -->
<div class="tab-pane fade {{ tab_active_value }}" id="navs-pills-top-main" role="tabpanel">
  <div class="card mb-4">
    <h5 class="card-header">Main information</h5>
    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="id_hardware_id" class="form-label">Hardware ID</label>
          <input class="form-control-plaintext" type="text" name="hardware_id" id="id_hardware_id" value="{{ instance_object.id }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_name" class="form-label">Hardware name</label>
          <input class="form-control-plaintext" type="text" name="name" id="id_name" value="{{ instance_object.name }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_category" class="form-label">Hardware Category</label>
          <input class="form-control-plaintext" type="text" name="category" id="id_category" value="{{ instance_object.category }}" readonly />
        </div>

        <div class="mb-3 col-md-6">
          <label class="form-label" for="id_provider">Provider</label>

          {% if instance_object.provider.id %}
            <a class="btn btn-sm btn-outline-primary" href='{% url "provider_details" pk=instance_object.provider.id %}'>
              {{ instance_object.provider }}
              <span class="tf-icons bx bx-link-external"></span>
            </a>
          {% else %}
            <input class="form-control-plaintext" type="text" name="provider" id="id_provider" value="{{ instance_object.provider }}" readonly />
          {% endif %}
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_status" class="form-label">Status</label>
          {% include 'generic/elements/status.html' %}
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">Service description</h5>

    <div class="card-body">
      <div class="row">
        <p>{{ instance_object.description }}</p>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">Support information</h5>

    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="id_support_url" class="form-label">Support URL</label>

          {% if instance_object.support_url == blank %}
            <input type="text" class="form-control-plaintext" id="id_support_url" name="support_url" readonly value="{{ instance_object.support_url }}" />
          {% else %}
            <a class="btn btn-icon btn-outline-primary" href="{{ instance_object.support_url }}" target="_blank"><span class="tf-icons bx bx-support"></span></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
