<!-- pricing tab -->
{% load humanize %}

<div class="tab-pane fade {{ tab_active_value }}" id="navs-pills-top-pricing" role="tabpanel">
  <div class="card mb-4">
    <h5 class="card-header">Link pricings</h5>

    <div class="card-body">
      <div class="button-wrapper">
        {% if perms.hardware.change_hardware %}
        {% include 'generic/elements/service_link_form.html' with object_list=all_pricings link_name='pricing' placeholder_form_url='hardware_add_linkpricing' %}
        {% endif %}
      </div>
    </div>

    <hr class="my-0" />

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Action</th>
              <th scope="col">Name</th>
              <th scope="col">Status</th>
              <th scope="col">Cost/Unit</th>
              <th scope="col">Volume</th>
              <th scope="col">Total Cost</th>
              <th scope="col">Pricing date</th>
            </tr>
          </thead>
          <tbody>
            {% for object in instance_object.pricing.all %}
            <tr>
          
              {% include 'service/elements/td_link_object_actions.html' with placeholder_details_url='pricing_details' placeholder_unlink_url='hardware_remove_linkpricing' pk_source=instance_object.id lpk_source=object.id %}
             
              <td>{{ object.name }}</td>
              <td>{% include 'generic/elements/status.html' %}</td>
              <td>{{ object.cost_unit|floatformat:2|intcomma }}</td>
              <td>{{ object.volume|floatformat:2|intcomma }}</td>
              {% if object.total_cost|floatformat:2|intcomma %}
              <td>
                {{ object.total_cost|floatformat:2|intcomma }} {{ object.currency }}
              </td>
              {% else %}
              <td>None</td>
              {% endif %}

              <td>{{ object.pricing_date|date:"d/m/Y" }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
