{% extends "generic/views/list_view/list_view.html" %}

{% block table_header %}
<tr>
  <th scope="col">Action</th>
  <th scope="col">Icon</th>
  <th scope="col">Name</th>
  <th scope="col">Service linked</th>
  <th scope="col">Pricing</th>
  <th scope="col">Data location</th>
  <th scope="col">Provider location</th>
</tr>
{% endblock %}
{% block table_body %}
{% for object in page_obj %}
<tr>
  {% include 'application/elements/td_action_button.html' %}

  <td>{% if object.icon_url %}
    <img src="{{ object.icon_url }}" height="32px" width="32px"></img>
    {% else %}
    {% include 'generic/elements/icon_placeholder.html' %}
    {% endif %}
  </td>
  <td>{{ object.name }}<i class='bx bx-info-circle' data-bs-toggle="tooltip" data-bs-offset="0,4"
      data-bs-placement="right" data-bs-html="true" title="<span>IDP Source: {{object.idp }}</span>"></i>
  </td>


  <td>
    {% if perms.service.change_application %}
    {% include 'application/elements/form_service.html' %}


    {% else %}

    {% for srv in object.get_service_linked %}

    <a href="{% url 'service_details' pk=srv.id %}" class="btn btn-secondary btn-sm" role="button" role="button"
      target="_blank">{{ srv.name }}</a>
    {% endfor%}
  </td>
  {% endif %}
  <td>
    {% if perms.service.change_application %}
    {% include 'application/elements/form_pricing.html' %}
    {% else %}
    {% if object.pricing %}
    {{ object.pricing.cost_unit|floatformat:2 }} {{ object.pricing.currency }}/{{ object.pricing.time_unit }}
    {% else %}
    Not set
    {% endif %}
    {% endif %}
  </td>

  <td>
    {% if perms.service.change_application %}
    {% include 'application/elements/form_data_location.html' %}
    {% else %}
    {% if object.data_location %}
    {{ object.data_location }}
    {% else %}
    Not set
    {% endif %}
    {% endif %}
  </td>

  <td>
    {% if perms.service.change_application %}
    {% include 'application/elements/form_provider_location.html' %}
    {% else %}
    {% if object.provider_location %}
    {{ object.provider_location }}
    {% else %}
    Not set
    {% endif %}
    {% endif %}
  </td>

</tr>
{% endfor %}
{% endblock %}