{% extends 'generic/views/list_view/list_view.html' %} {% block table_header %}
  {% load humanize %}
  <tr>
    <th scope="col">Action</th>
    <th scope="col">Name</th>
    <th scope="col">Cost/unit/Time</th>
    <th scope="col">Total cost</th>
    <th scope="col">Volume</th>
    <th scope="col">Pricing date</th>
  </tr>
{% endblock %} {% block table_body %}
  {% for object in instance_object %}
    <tr>
      {% include 'generic/elements/td_action_button.html' %}
      <td>{{ object.name }}</td>

      {% if object.cost_unit %}
        <td>{{ object.cost_unit|floatformat:2|intcomma }} {{ object.currency }}/{{ object.time_unit }}</td>
      {% else %}
        <td>0.0 EUR/month</td>
      {% endif %}

      <td>{{ object.total_cost|floatformat:2|intcomma }}</td>
      <td>{{ object.volume|floatformat:2 }}</td>
      <td>{{ object.pricing_date|date:'d/m/Y' }}</td>
    </tr>
  {% endfor %}
{% endblock %}
