<!-- tab -->
{% load building_custom_tags %}
{% load static %}

{% get_pesence_target building_pk as target_presence %}

<div class="tab-pane fade show" id="navs-pills-top-chart" role="tabpanel">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row"></div>
      <div>
        <figure class="highcharts-figure">
          <div id="presence_per_day_per_type"></div>
        </figure>
        {{ instance_object|json_script:'chart1' }}{{ target_presence|json_script:'target_presence' }}
      </div>
    </div>
  </div>
</div>
