<!-- tab -->
<div class="tab-pane fade show active" id="navs-pills-top-main" role="tabpanel">
  <div class="card mb-4">
    <h5 class="card-header">Main</h5>
    <div class="card-body">
      <div class="row">
        <div class="table-responsive">
          <table class="table" id="datatable">
            <thead>
              <tr>
                <th scope="col">Year</th>
                <th scope="col">Week</th>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Count of entry</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for object in instance_object %}
                <tr>
                  <td>{{ object.year }}</td>
                  <td>{{ object.week_num }}</td>
                  <td>{{ object.date_value|date:'d/m/Y' }}</td>
                  <td>{{ object.type }}</td>
                  <td>{{ object.count_entry }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
