{% load service_custom_tags %}

<td>
    <div class="btn-group">
    <a class="btn btn-primary btn-sm btn-icon" type="button" href="{% url details_url pk=object.id %}"><i class='bx bx-info-circle'></i></a>
    {% if perms.building.view_accesscontrolrecord %}
    <a class="btn btn-primary btn-sm btn-icon" type="button" href="{% url 'building_presence_statistic_list' pk=object.id %}"><i class='bx bx-stats'></i></a>
    {% endif %}
    <button type="button" class="btn btn-sm btn-primary btn-icon dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Action</span>
    </button>
    
    <ul class="dropdown-menu">

        <li><a class="dropdown-item {% if not perms.building.change_building %}disabled{% endif %}" href="{% url update_url pk=object.id %}"><i class="bx bx-pencil"></i> Edit</a></li>
        <li><a class="dropdown-item {% if not perms.building.delete_building %}disabled{% endif %}" href="{% url delete_url pk=object.id %}"><i class="bx bx-trash-alt"></i> Delete</a></li>
        
        <li><a class="dropdown-item {% if not perms.building.export_access_control_record %}disabled{% endif %}" href="{% url 'office_presence_statistics_list' %}?office={{object.name}}&year={% now 'Y' %}"><i class='bx bx-stats'></i>Raw SQL Presence</a></li>
        <li><a class="dropdown-item {% if not perms.building.export_access_control_record %}disabled{% endif %}" href="{% url 'office_presence_statistics_export' %}?office={{object.name}}&year={% now 'Y' %}"><i class='bx bx-cloud-download' ></i>Raw SQL Extract</a></li>

    </ul>

    </div>
</td>