{% extends 'generic/core/base.html' %}
{% load static %}
{% load service_custom_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block extra_header %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block body %}
  {% get_providers as socialaccount_providers %}
  {% get_social_provider_actived as social_activated %}
  {% get_public_configurations 'disable_signup_page' as disable_singup_page %}

  <main class="form-signin text-center flex-shrink-0">
    {% if not disable_singup_page.enabled %}
      <form class="signup" method="POST" action="{% url 'account_signup' %}" id="signup_form">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'img/brand/bootstrap-logo.svg' %}" alt="logo" width="72" height="57" />
        <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
        <p>
          {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Sign in</a>.{% endblocktrans %}
        </p>

        <div class="form-floating">
          <input type="email" class="form-control" id="id_email" placeholder="Email address" required autocomplete="email" name="email" />
          <label for="id_email">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="id_password1" placeholder="Password" autocomplete="new-password" required name="password1" />
          <label for="id_password1">Password</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="id_password2" placeholder="Password (again)" required name="password2" />
          <label for="id_password2">Password (again)</label>
        </div>

        <button class="w-100 btn btn-primary" type="submit">Sign Up</button>
      </form>
    {% else %}
      <p>We are sorry, but the sign up is currently closed.</p>
      <p>
        Already have an account? Then please <a href="{{ login_url }}">Sign in</a>.
      </p>
    {% endif %}
  </main>
{% endblock %}
