<div class="tab-pane {{ tab_active_value }}" id="navs-pills-top-main" role="tabpanel">
  <div class="card mb-4">
    <h5 class="card-header">Main information</h5>
    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="id_service_id" class="form-label">Service ID</label>
          <input class="form-control-plaintext" type="text" name="service_id" id="id_service_id"
            value="{{ instance_object.id }}" readonly />
        </div>
        <div class="mb-3 col-md-6">
          <label for="id_name" class="form-label">Service name</label>
          <input class="form-control-plaintext" type="text" name="name" id="id_name" value="{{ instance_object.name }}"
            readonly />
        </div>
        <div class="mb-3 col-md-6">
          <label for="id_category" class="form-label">Service Category</label>
          <input class="form-control-plaintext" type="text" name="category" id="id_category"
            value="{{ instance_object.category }}" readonly />
        </div>
        <div class="mb-3 col-md-6">
          <label class="form-label" for="id_provider">Provider</label>
          {% if instance_object.provider.id %}
          <a class="btn btn-sm btn-outline-primary" href="{% url 'provider_details' pk=instance_object.provider.id %}">
            {{ instance_object.provider }}
            <span class="tf-icons bx bx-link-external"></span>
          </a>
          {% else %}
          <form action="{% url 'service_quick_create_provider' pk=instance_object.id %}" method="POST" class="">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm" type="submit" data-bs-toggle="tooltip" data-bs-offset="0,4"
              data-bs-placement="top" data-bs-html="true"
              title="<span>Create create provider and link it to the service</span>">
              Create provider

            </button>

          </form>
          {% endif %}
        </div>
        <div class="mb-3 col-md-6">
          <label for="id_status" class="form-label">Status</label>
          <input type="text" class="form-control-plaintext" id="id_status" name="status" readonly
            value="{{ instance_object.status }}" />
        </div>
        <div class="mb-3 col-md-6">
          <label class="form-label">icon</label>

          {% if instance_object.icon %}
          <img src="{{ instance_object.icon.url }}" alt="service-icon" class="d-block rounded" height="32" width="32"
            id="id_icon" />
          {% else %} {% include 'generic/elements/icon_placeholder.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">Service description</h5>

    <div class="card-body">
      <div class="row">
        <p>{{ instance_object.description }}</p>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">Ownership information</h5>

    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="id_department" class="form-label">Department</label>
          <input type="text" class="form-control-plaintext" id="id_department" name="department"
            value="{{ instance_object.department }}" readonly />
        </div>
        <div class="mb-3 col-md-6">
          <label class="form-label" for="id_subdepartment">Sub-department</label>
          <input type="text" class="form-control-plaintext" id="id_subdepartment" name="subdepartment"
            value="{{ instance_object.subdepartment }}" readonly />
        </div>
        <div class="mb-3 col-md-6">
          <label for="id_owner" class="form-label">Owner</label>
          <ul>
            {% for user in instance_object.owner.all %}
            <i><i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}' data-bs-toggle="tooltip" data-bs-offset="0,4"
              data-bs-placement="right" data-bs-html="true" title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i> {{ user.email }}</i><br>
            {% endfor %}
            </ul>       
            </div>
        <div class="mb-3 col-md-6">
          <label for="id_supported_by" class="form-label">Supported by</label>
          <input class="form-control-plaintext" type="text" id="id_supported_by" name="supported_by"
            value="{{ instance_object.supported_by }}" readonly />
        </div>
      </div>

      
      <div class="mb-3 col-md-6">
        <label for="id_administrator" class="form-label">Administrator(s)</label>
        <ul>
        {% for user in instance_object.administrator.all %}
        <i><i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}' data-bs-toggle="tooltip" data-bs-offset="0,4"
          data-bs-placement="right" data-bs-html="true" title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i> {{ user.email }}</i><br>
        {% endfor %}
        </ul>
      </div>

      
      <div class="mb-3 col-md-6">
        <label for="id_procurement" class="form-label">Procurement(s)</label>
        <ul>
        {% for user in instance_object.procurement.all %}
        <i><i class='bx bxs-user-circle {% if user.is_active %}tooltip-success{% else %}tooltip-danger{% endif %}' data-bs-toggle="tooltip" data-bs-offset="0,4"
          data-bs-placement="right" data-bs-html="true" title="<span>Status: {{ user.is_active}}<br>First name: {{user.first_name }}<br>Last name: {{user.last_name }}<br>Manager: {{user.manager.email }}</span>"></i> {{ user.email }}</i><br>
        {% endfor %}
        </ul>
      </div>


      <div class="mb-3 col-md-6">
        <label for="id_company" class="form-label">Company</label>
        <input type="text" class="form-control-plaintext" id="id_company" name="company" readonly
          value="{{ instance_object.company }}" />
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">Other information</h5>
    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="id_tier" class="form-label">Service tier</label>
          <input type="text" class="form-control-plaintext" id="id_tier" name="tier" readonly
            value="{{ instance_object.tier }}" />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_identity_provider" class="form-label">Integrated with IDP</label>
          <input type="text" class="form-control-plaintext" id="id_identity_provider" name="identity_provider" readonly
            value="{{ instance_object.identity_provider }}" />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_health_check" class="form-label">Health Check</label>
          <input type="text" class="form-control-plaintext" id="id_health_check" name="health_check" readonly
            value="{{ instance_object.health_check }}" />
        </div>

        <div class="mb-3 col-md-6">
          <label for="id_createdByUserId" class="form-label">Create by</label>
          <input type="text" class="form-control-plaintext" id="id_createdByUserId" name="createdByUserId" readonly
            value="{{ instance_object.createdByUserId }}" />
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">URL information</h5>
    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="id_service_website" class="form-label">Service website</label>
          <input type="text" class="form-control-plaintext" id="id_service_website" name="service_website" readonly
            value="{{ instance_object.service_website }}" />
        </div>
        <div class="mb-3 col-md-6">
          <label for="id_service_url" class="form-label">Service URL</label>
          <input type="text" class="form-control-plaintext" id="id_service_url" name="service_url" readonly
            value="{{ instance_object.service_url }}" />
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">Support information</h5>

    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="id_support_url" class="form-label">Support URL</label>

          {% if instance_object.support_url == blank %}
          <input type="text" class="form-control-plaintext" id="id_support_url" name="support_url" readonly
            value="{{ instance_object.support_url }}" />
          {% else %}
          <a class="btn btn-icon btn-outline-primary" href="{{ instance_object.support_url }}" target="_blank">
            <span class="tf-icons bx bx-support"></span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- /main tab -->
</div>