<!-- contract tab -->
{% load humanize %}
<div class="tab-pane fade {{ tab_active_value }}" id="navs-pills-top-contracts" role="tabpanel">
  <div class="card mb-4">
    <h5 class="card-header">Linked contracts</h5>
    <div class="card-body">
      <div class="button-wrapper">
        {% if instance_object.owner.id == user.id or instance_object.createdByUserId.id == user.id or user.is_superuser %}
        {% include 'generic/elements/service_link_form.html' with object_list=all_contracts link_name='contract' placeholder_form_url='service_add_linkcontract' %}
        {% endif %}
      </div>
    </div>

    <hr class="my-0" />

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Action</th>
              <th scope="col">Name</th>
              <th scope="col">Status</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Renewal Date</th>
              <th scope="col">Total Cost</th>
            </tr>
          </thead>
          <tbody>
            {% for object in instance_object.contract.all %}
            <tr>
              
              {% include 'service/elements/td_link_object_actions.html' with placeholder_details_url='contract_details' placeholder_unlink_url='service_remove_linkcontract' pk_source=instance_object.id lpk_source=object.id %}

              <td>{{ object.name }}</td>
              <td>{% include 'generic/elements/status.html' %}</td>
              <td>{{ object.start_date|date:"d/m/Y" }}</td>
              <td>{{ object.end_date|date:"d/m/Y" }}</td>
              <td>{{ object.renewal_date|date:"d/m/Y" }}</td>
              {% if object.total_cost %}
              <td>
                {{ object.total_cost|floatformat:2|intcomma}} ({{ object.currency }})/{{ object.duration_unit }}
              </td>
              {% else %}
              <td>None</td>
              {% endif %} {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
