<!-- link-services tab -->
<div class="tab-pane fade {{ tab_active_value }}" id="navs-pills-top-link-services" role="tabpanel">

    <div class="card mb-4">
      <h5 class="card-header">Linked services</h5>
      <div class="card-body">
      <div class="button-wrapper">

        {% if instance_object.owner.id == user.id or instance_object.createdByUserId.id == user.id or user.is_superuser %}
        {% with object_list=all_services link_name='service' placeholder_form_url='service_add_linkservice' %}
        {% include 'generic/elements/service_link_form.html' %}
        {% endwith %}
        {% endif %}

      </div>
    </div>
      <hr class="my-0" />
      <div class="card-body">

        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Action</th>
                <th scope="col">Icon</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Department</th>
                <th scope="col">Sub department</th>
                <th scope="col">Owner</th>
                <th scope="col">Support by</th>
              </tr>
            </thead>
            <tbody>
              {% for object in instance_object.service_relationships.all %}

              <tr>
                {% with placeholder_details_url='service_details' placeholder_unlink_url='service_remove_linkservice' pk_source=instance_object.id lpk_source=object.id%}
                {% include 'service/elements/td_link_object_actions.html' %}
                {% endwith %}
                <td>{% if object.icon %}
                  <img src="{{ object.icon.url }}" height="32px" width="32px"></img>
                  {% else %}
                  {% include 'generic/elements/icon_placeholder.html' %}
                  {% endif %}
                <td>{{ object.name }}</td>
                <td>{% include  'generic/elements/status.html' %}</td>
                <td>{{ object.department }}</td>
                <td>{{ object.subdepartment }}</td>
                <td>{{ object.owner }}</td>
                <td>{{ object.supported_by }}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
