
{% load service_custom_tags %}
{% setvar request.resolver_match.view_name as view_name %}


{% setvar 'disabled' as disabled_details_view %}

{% if 'pricing' in placeholder_details_url %}
{% setvar '' as disabled_details_view %}
{% endif %}

{% if 'contact' in placeholder_details_url %}
{% setvar '' as disabled_details_view %}
{% endif %}

{% if 'service' in placeholder_details_url %}
{% setvar '' as disabled_details_view %}
{% endif %}

{% if 'application' in placeholder_details_url %}
{% setvar '' as disabled_details_view %}
{% endif %}


{% if 'contract' in placeholder_details_url %}
{% if perms.service.view_contract %}
{% setvar '' as disabled_details_view %}
{% endif %}
{% endif %}

<td>
  <div class="btn-group">
  <a class="btn btn-primary btn-sm {{ disabled_details_view }}" type="button" href="{% url placeholder_details_url pk=lpk_source %}"><i class='bx bx-info-circle'></i></a>

  <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Action</span>
  </button>
  
  
  <ul class="dropdown-menu">
    <li>
      {% if perms.hardware.change_hardware or perms.service.change_service %}
      <form
        action="{% url placeholder_unlink_url pk=pk_source lpk=lpk_source %}"
        enctype="multipart/form-data"
        method="POST"
        novalidate>
        {% csrf_token %}
        <button class="dropdown-item" type="submit">

          <i class="bx bx-info-trash"></i> Unlink
        </button>
      </form>
      {% else %}
      <button class="dropdown-item disabled" type="submit">

        <i class="bx bx-info-trash"></i> Unlink
      </button>
      {% endif %}
    </li>
    
  </ul>
  
  </div>
</td>