{% load service_custom_tags %}

<form action='{% url placeholder_form_url pk=instance_object.id %}?tab={{link_name|lower}}' enctype="multipart/form-data" method="POST" novalidate class="needs-validation">
  {% csrf_token %}

  <div class="input-group">
    <select class="select form-control custom-select tom-select" id="id_relation_{{ link_name|lower }}" name="relation" required aria-label="Select a {{ link_name|lower }}" placeholder="Select a {{ link_name|lower }}">
      <option value="">Select {{ link_name|lower }}</option>
      {% for option in object_list %}
        <option value="{{ option.id }}">{{ option.name }}</option>
      {% endfor %}
    </select>
    <div class="invalid-feedback">Select a {{ link_name|lower }}</div>
    <button class="btn btn-outline-primary" type="submit">Link {{ link_name|lower }}</button>
  </div>
</form>
