{% load service_custom_tags %}
{% setvar request.resolver_match.view_name as view_name %}

{% setvar 'disabled' as update_class_disabled %}
{% setvar 'disabled' as delete_class_disabled %}

{% if view_name == 'contract_list' and perms.service.change_contract %}
{% setvar '' as update_class_disabled %}
{% endif %}

{% if view_name == 'contract_list' and perms.service.delete_contract %}
{% setvar '' as delete_class_disabled %}
{% endif %}


{% if 'hardware' in view_name and perms.hardware.change_hardware %}
{% setvar '' as update_class_disabled %}
{% endif %}

{% if 'hardware' in view_name and perms.hardware.delete_hardware %}
{% setvar '' as delete_class_disabled %}
{% endif %}

{% if 'application' in view_name and perms.service.change_application %}
{% setvar '' as update_class_disabled %}
{% endif %}

{% if 'application' in view_name and perms.service.delete_application %}
{% setvar '' as delete_class_disabled %}
{% endif %}

{% if view_name == 'provider_list' or view_name == 'pricing_list' or view_name == 'service_list' %}
{% if instance_object.owner.id == user.id or instance_object.createdByUserId.id == user.id or user.is_superuser %}
{% setvar '' as update_class_disabled %}
{% setvar '' as delete_class_disabled %}
{% endif %}
{% endif %}

{% if 'contact' in view_name and perms.service.change_contact %}
{% setvar '' as update_class_disabled %}
{% endif %}

{% if 'contact' in view_name and perms.service.delete_contact %}
{% setvar '' as delete_class_disabled %}
{% endif %}

{% if 'company' in view_name and perms.service.change_company %}
{% setvar '' as update_class_disabled %}
{% endif %}

{% if 'company' in view_name and perms.service.delete_company %}
{% setvar '' as delete_class_disabled %}
{% endif %}

<td>
    <div class="btn-group">
    <a class="btn btn-primary btn-sm btn-icon" type="button" href="{% url details_url pk=object.id %}"><i class='bx bx-info-circle'></i></a>

    <button type="button" class="btn btn-sm btn-primary btn-icon dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Action</span>
    </button>
    
    <ul class="dropdown-menu">

        {% if object.support_url %}
        <li><a class="dropdown-item" href="{{ object.support_url }}"><i class="bx bx-support"></i> Support</a></li>
        {% endif %}
        <li><a class="dropdown-item {{ update_class_disabled }}" href="{% url update_url pk=object.id %}"><i class="bx bx-pencil"></i> Edit</a></li>
        <li><a class="dropdown-item {{ delete_class_disabled }}" href="{% url delete_url pk=object.id %}"><i class="bx bx-trash-alt"></i> Delete</a></li>


    </ul>

    </div>
</td>