html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 72px;
  padding-bottom: 0px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

main > .container {
  padding: 60px 15px 0;
}

.btn-gitlab {

background-color: #fd7e14!important;

border-color: #fd7e14!important;

color: white!important;

}