<div class="tab-pane fade {{ tab_active_value }}" id="navs-pills-top-document" role="tabpanel">
    <div class="card mb-4">
      <h5 class="card-header">Document linked</h5>
      
      {% if perms.service.add_contractdocument %}
      <div class="card-body">
          
        <div class="button-wrapper">
          <form action="{% url 'contract_document_creation' pk=instance_object.id %}?tab=document" enctype="multipart/form-data" method="POST" novalidate>
              {% csrf_token %}
          <div class="input-group">
  
              <input class="form-control" type="file" id="id_file" name="file"/>
              <button type="submit" class="btn btn-outline-primary">Upload</button>
          </form>
  
  
        </div>
      </div>
        
      </div>
      <hr class="my-0" />
      {% endif %}
  
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Action</th>
                <th scope="col">Filename</th>
              </tr>
            </thead>
            <tbody>
              {% for object in instance_object.document.all %}
  
              <tr>
                {% with placeholder_unlink_url='contract_remove_document' source_id=instance_object.id %}
                {% include 'generic/views/create_update/elements/td_action_document.html' %}
                {% endwith %}
                <td>{{ object.name }}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>