{% load humanize %}
<!-- tab -->
<div class="tab-pane fade {{ tab_active_value }}" id="navs-pills-top-main" role="tabpanel">
    <div class="card mb-4">
      <h5 class="card-header">Main</h5>
      <div class="card-body">
        <div class="row">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{ instance_object.name }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>
                  {% if instance_object.status == "active" %}
                  <span class="badge bg-success"
                    >{{ instance_object.status}}</span
                  >
                  {% endif %} {% if instance_object.status == "suspended" %}
                  <span class="badge bg-warning text-dark"
                    >{{ instance_object.status}}</span
                  >
                  {% endif %} {% if instance_object.status == "terminated" %}
                  <span class="badge bg-danger">{{ instance_object.status}}</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>provider</td>
                <td>{{ instance_object.provider }}</td>
              </tr>
              <tr>
                <td>Start date</td>
                <td>{{ instance_object.start_date|date:"d/m/Y" }}</td>
              </tr>
              <tr>
                <td>End date</td>
                <td>{{ instance_object.end_date|date:"d/m/Y" }}</td>
              </tr>
              <tr>
                <td>Renewal date</td>
                <td>{{ instance_object.renewal_date|date:"d/m/Y" }}</td>
              </tr>
              <tr>
                <td>Duration</td>
                <td>{{ instance_object.duration|floatformat:0|intcomma }}</td>
              </tr>
              <tr>
                <td>Duration unit</td>
                <td>{{ instance_object.duration_unit }}</td>
              </tr>
  
              <tr>
                <td>Total cost</td>
                <td>{{ instance_object.total_cost|floatformat:2|intcomma }}</td>
              </tr>
              <tr>
                <td>Cost/unit</td>
  
                <td>{{ instance_object.cost_unit|floatformat:2|intcomma }}</td>
              </tr>
              <tr>
                <td>Volume</td>
  
                <td>{{ instance_object.volume }}</td>
              </tr>
              <tr>
                <td>Currency</td>
  
                <td>{{ instance_object.currency }}</td>
              </tr>
              <tr>
                <td>Company</td>
  
                <td>{{ instance_object.company }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% include 'generic/views/details_view/elements/button_update.html' with placeholder_edit_url=update_url%}
  </div>
  <!-- tab -->