{% extends 'generic/views/list_view/list_view.html' %}
{% load service_custom_tags %}
{% load humanize %}

{% block table_header %}
  <tr>
    <th scope="col">Action</th>
    <th scope="col">Name</th>
    <th scope="col">Status</th>
    <th scope="col">Provider</th>
    <th scope="col">Start date</th>
    <th scope="col">End date</th>
    <th scope="col">Total cost</th>
  </tr>
{% endblock %}
{% block table_body %}
  {% for object in instance_object %}
    <tr>
      {% include 'generic/elements/td_action_button.html' %}
      <td>{{ object.name }}</td>
      <td>
        {% include 'generic/elements/status.html' %}
      </td>
      <td>{{ object.provider }}</td>
      <td>{{ object.start_date|date:'d/m/Y' }}</td>
      <td>{{ object.end_date|date:'d/m/Y' }}</td>

      {% if object.total_cost %}
        <td>{{ object.total_cost|floatformat:2|intcomma }} {{ object.currency }}</td>
      {% else %}
        <td>None</td>
      {% endif %}
    </tr>
  {% endfor %}
{% endblock %}
