{% extends "generic/views/create_update/create_update_view.html" %}
{% block form_field %}

<legend>Mandatory informations</legend>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="id_name" class="form-label">Document Name<span
                                class="text-muted">(Required)</span></label>
                        <input type="text" name="name" class="form-control" id="id_name" required maxlength="255"
                            placeholder="255 charts max" value="{{ instance_object.name }}">
                        <div class="invalid-feedback">
                            Name is required.
                        </div>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-12">
                        <label for="id_name" class="form-label">Document Name<span
                                class="text-muted">(Required)</span></label>
                        <input type="file" name="file" class="form-control" id="id_file" required maxlength="255"
                            placeholder="255 charts max" value="{{ instance_object.name }}">
                        <div class="invalid-feedback">
                            File is required.
                        </div>
                    </div>
                </div>

{% endblock %}