{% extends "generic/core/core.html" %}
{% load static %}
{% load service_custom_tags %}



{% block content %}
{% setvar request.resolver_match.view_name as view_name %}
{% load hardware_custom_tags %}

<div class="container-xxl flex-grow-1 container-p-y">

  <div class="card">
    <h5 class="card-header">{{ custom_title|title }}</h5>
    <div class="card-body">

    <p class="card-text">
      Rule are created by linking Department, Subdepartment and Title together. Then hardware(s) can be assigned for each rule.<br>
      There are curently {% get_missing_hardware_mapping %} <a href="{% url 'hardware_mapping_search' %}?query=missing">missing mapping</a> and {% get_missing_hardware_mapping False %} <a href="{% url 'hardware_mapping_search' %}?query=missing&minuser=0">with user assigned</a>
    </p>
    
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Rule ID</th>
            <th scope="col">Department</th>
            <th scope="col">SubDepartment</th>
            <th scope="col">Title</th>
            <th scope="col">Total users</th>
            <th scope="col">Hardwares</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for object in page_obj %}
          <tr>
            {% include 'hardware_mapping/elements/td_action_button.html' %}
            <td>{{ object.id }}</td>
            <td>{{ object.rule.department }} <i class='bx bx-info-circle' data-bs-toggle="tooltip" data-bs-offset="0,4"
              data-bs-placement="right" data-bs-html="true" title="<span>ID: {{ object.rule.department.id }}</span>"></i></td>
            <td>{{ object.rule.subdepartment }} <i class='bx bx-info-circle' data-bs-toggle="tooltip" data-bs-offset="0,4"
              data-bs-placement="right" data-bs-html="true" title="<span>ID: {{ object.rule.subdepartment.id }}</span>"></i></td>
            <td>{{ object.rule.title }} <i class='bx bx-info-circle' data-bs-toggle="tooltip" data-bs-offset="0,4"
              data-bs-placement="right" data-bs-html="true" title="<span>ID: {{ object.rule.title.id }}</span>"></i></td>
            <td>{{object.user_count}}</td>
              
           <td>{% if perms.hardware.change_hardwaremapping %}{% include 'hardware_mapping/elements/form_hardware.html' %}
           {% else %}
           <ul>
            {% for hardware in object.hardware.all %}
            <li><a href="{% url 'hardware_details' pk=hardware.id %}" target="_blank">{{ hardware.name }}</a></li>
            {% endfor %}
            </ul></td>
           {% endif %}  
              
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
  {% if perms.hardware.add_hardwaremapping %}
  {% include 'generic/views/list_view/elements/button_create_object.html' with placeholder_create_url=create_url %}
  {% endif %}

  {% if page_obj %}
  {% include "generic/elements/pagination.html" %} {% endif %}

  
</div>

{% endblock %}