{% if form.errors %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    {{ form.errors }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}
