<td>
  {% if perms.service.view_contractdocument %}
    <div class="btn-group">
    <a class="btn btn-primary btn-sm" type="button" href="{{ object.file.url }}" target="_blank"><i class='bx bxs-download'></i></a>
    {% if perms.service.delete_contractdocument %}
    <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Action</span>
    </button>
    
    <ul class="dropdown-menu">
      <li>
        
        
        <form
          action="{% url placeholder_unlink_url pk=source_id lpk=object.id %}"
          enctype="multipart/form-data"
          method="POST"
          novalidate>
          {% csrf_token %}
          <button class="dropdown-item" type="submit">
            <i class="bx bx-info-trash"></i> Unlink
          </button>
        </form>
      </li>
    </ul>
    {% endif %}
    </div>
    {% endif %}
  </td>