{% extends "generic/core/core.html" %}
{% load static %}
{% load i18n %}
{% load service_custom_tags %}

{% block extra_headers %}
<link rel="stylesheet" href={% static 'theme/sneat/assets/vendor/css/pages/page-auth.css' %} />
{% endblock extra_headers %}


{% block content %}

{% setvar request.resolver_match.view_name as view_name %}
{% setvar False as value_is_true %}

{% if view_name == "contract_delete" and perms.service.delete_contract %}
{% setvar True as value_is_true %}
{% endif %}

{% if view_name == "hardware_mapping_delete" and perms.hardware.delete_hardwaremapping %}
{% setvar True as value_is_true %}
{% endif %}

{% if object.owner.id == user.id or object.createdByUserId.id == user.id or user.is_superuser %}
{% setvar True as value_is_true %}
{% endif %}

{% if value_is_true %}


<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
  <div class="justify-content-center">
    <h2 class="mb-2 mx-2">Deletion of object</h2>
    <p class="mb-4 mx-2">Are you sure you want to delete the object</p>

    <form class="login" method="POST">
      {% csrf_token %}
      <button class="btn btn-danger" value="Confirm" type="submit">
        I want to delete
      </button>
    </form>
    <div class="mt-4">
      <img
        src="{% static 'theme/sneat/assets/img/illustrations/girl-doing-yoga-light.png' %}"
        alt="girl-doing-yoga-light"
        width="500"
        class="img-fluid"
        data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
        data-app-light-img="illustrations/girl-doing-yoga-light.png"
      />
    </div>
  </div>
</div>
</div>

{% else %}
    <!-- Error -->
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="justify-content-center">
        <h2 class="mb-2 mx-2">Page Not Found :(</h2>
        <p class="mb-4 mx-2">Oops! 😖 Your are not the owner or creator of the service, neither an admin</p>
        <a href="{% url 'index' %}" class="btn btn-primary">Back to home</a>
        <div class="mt-3">
          <img
            src="{% static 'theme/sneat/assets/img/illustrations/page-misc-error-light.png' %}"
            alt="page-misc-error-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="illustrations/page-misc-error-dark.png"
            data-app-light-img="illustrations/page-misc-error-light.png"
          />
        </div>
      </div>
    </div>
  </div>
    <!-- /Error -->

{% endif %}

{% endblock %}
