{% extends 'generic/views/create_update/create_update_view.html' %}
{% block form_field %}
{% load building_custom_tags %}

{% get_active_users as all_users %}
{% get_all_public_ip as all_public_ip %}

  <!-- Basic Layout -->
  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Mandatory information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>
      <div class="card-body">

        {% if form_action == 'create' %}
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_name">Name</label>
          <div class="col-sm-10">
            <input required type="text" name="name" class="form-control" id="id_name" maxlength="255" placeholder="255 charts max" value=""/>
            <div class="invalid-feedback">Enter a name</div>
          </div>
        </div>
        {% endif %}

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_status">Status</label>
          <div class="col-sm-10">
            <select required class="select tom-select" id="id_status" name="status">
              {% for option in form.status %}
                {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a status</div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Ownership information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_building_manager">Building Manager(s)</label>
          <div class="col-sm-10">
            <select multiple class="select tom-select" id="id_building_manager" name="building_manager">
              {% if instance_object.building_manager %}
                {% for object in instance_object.building_manager.all %}
                  <option selected value="{{ object.id }}">{{ object.email }}</option>
                {% endfor %}
              {% else %}
                <option value="">Select a user</option>
              {% endif %}
              {% for option in all_users %}
                <option value="{{ option.id }}">{{ option.email }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select one or several building manager</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_it_support">IT Support(s)</label>
          <div class="col-sm-10">
            <select multiple class="select tom-select" id="id_it_support" name="it_support">
              {% if instance_object.it_support %}
                {% for object in instance_object.it_support.all %}
                  <option selected value="{{ object.id }}">{{ object.email }}</option>
                {% endfor %}
              {% else %}
                <option value="">Select a user</option>
              {% endif %}
              {% for option in all_users %}
                <option value="{{ option.id }}">{{ option.email }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select one or more IT support</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_general_manager">General Manager(s)</label>
          <div class="col-sm-10">
            <select multiple class="select tom-select" id="id_general_manager" name="general_manager">
              {% if instance_object.general_manager %}
                {% for object in instance_object.general_manager.all %}
                  <option selected value="{{ object.id }}">{{ object.email }}</option>
                {% endfor %}
              {% else %}
                <option value="">Select a user</option>
              {% endif %}
              {% for option in all_users %}
                <option value="{{ option.id }}">{{ option.email }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select one or more general manager</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_culture_embassador">Culture embassador(s)</label>
          <div class="col-sm-10">
            <select multiple class="select tom-select" id="id_culture_embassador" name="culture_embassador">
              {% if instance_object.culture_embassador %}
                {% for object in instance_object.culture_embassador.all %}
                  <option selected value="{{ object.id }}">{{ object.email }}</option>
                {% endfor %}
              {% else %}
                <option value="">Select a user</option>
              {% endif %}
              {% for option in all_users %}
                <option value="{{ option.id }}">{{ option.email }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select one or more culture embassador</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_people_director">People director(s)</label>
          <div class="col-sm-10">
            <select multiple class="select tom-select" id="id_people_director" name="people_director">
              {% if instance_object.people_director %}
                {% for object in instance_object.people_director.all %}
                  <option selected value="{{ object.id }}">{{ object.email }}</option>
                {% endfor %}
              {% else %}
                <option value="">Select a user</option>
              {% endif %}
              {% for option in all_users %}
                <option value="{{ option.id }}">{{ option.email }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select one or more people director</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_people_partner">People partner(s)</label>
          <div class="col-sm-10">
            <select multiple class="select tom-select" id="id_people_partner" name="people_partner">
              {% if instance_object.people_partner %}
                {% for object in instance_object.people_partner.all %}
                  <option selected value="{{ object.id }}">{{ object.email }}</option>
                {% endfor %}
              {% else %}
                <option value="">Select a user</option>
              {% endif %}
              {% for option in all_users %}
                <option value="{{ option.id }}">{{ option.email }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select one or more people partner</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Location information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_address">Address</label>
          <div class="col-sm-10">
            <input type="text" name="address" class="form-control" id="id_address" maxlength="255" placeholder="255 charts max" value="{{ instance_object.address }}" />
            <div class="invalid-feedback">Enter an address</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_street_number">Street number</label>
          <div class="col-sm-10">
            <input type="text" name="street_number" class="form-control" id="id_street_number" maxlength="255" placeholder="255 charts max" value="{{ instance_object.street_number }}" />
            <div class="invalid-feedback">Enter a street number</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_city">City</label>
          <div class="col-sm-10">
            <input type="text" name="city" class="form-control" id="id_city" maxlength="255" placeholder="255 charts max" value="{{ instance_object.city }}" />
            <div class="invalid-feedback">Enter a city name</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_zip_code">Zip code</label>
          <div class="col-sm-10">
            <input type="text" name="zip_code" class="form-control" id="id_zip_code" maxlength="255" placeholder="255 charts max" value="{{ instance_object.zip_code }}" />
            <div class="invalid-feedback">Enter a zip code</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_country">Country</label>
          <div class="col-sm-10">
            <input type="text" name="country" class="form-control" id="id_country" maxlength="255" placeholder="255 charts max" value="{{ instance_object.country }}" />
            <div class="invalid-feedback">Enter a country name</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_name">Phone number</label>
          <div class="col-sm-10">
            <input type="tel" name="phone_number" class="form-control" id="id_phone_number" value="{{ instance_object.phone_number }}" />
            <div class="invalid-feedback">Indicate a phone number</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Financial information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_company">Company</label>
          <div class="col-sm-10">
            <select class="select tom-select" id="id_company" name="company">
              {% for option in form.company %}
                {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a company/entity</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_renting">Renting</label>
          <div class="col-sm-10">
            <input {% if instance_object.renting %} checked {% endif %}type="checkbox" name="renting" class="form-check-input" id="id_renting" />
            <div class="invalid-feedback">Inidcate if the building is under renting</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_start_rending_date">Renting start date</label>
          <div class="col-sm-10">
            <input type="date" name="start_rending_date" class="form-control" id="id_start_rending_date" value="{{ instance_object.start_rending_date }}" />
            <div class="invalid-feedback">Indicate the renting starting date</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_cost_per_month">Cost/month</label>
          <div class="col-sm-10">
            <input type="number" name="cost_per_month" class="form-control" id="id_cost_per_month" value="{{ instance_object.cost_per_month }}" />
            <div class="invalid-feedback">Indicate the Cost/month</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_currency">Currency</label>
          <div class="col-sm-10">
            <select class="select tom-select" id="id_currency" name="currency">
              {% for option in form.currency %}
                {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a currency</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Building information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_type">Building type</label>
          <div class="col-sm-10">
            <select class="select tom-select" id="id_type" name="type">
              {% for option in form.type %}
                {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a building type</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_size">Building size</label>
          <div class="col-sm-10">
            <select class="select tom-select" id="id_size" name="size">
              {% for option in form.size %}
                {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a building size</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_capacity">Capacity (in people)</label>
          <div class="col-sm-10">
            <input type="number" name="capacity" class="form-control" id="id_capacity" value="{{ instance_object.capacity }}" />
            <div class="invalid-feedback">Indicate the building capacity</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_square_meters">Surface (sqm)</label>
          <div class="col-sm-10">
            <input type="number" name="square_meters" class="form-control" id="id_square_meters" value="{{ instance_object.square_meters }}" />
            <div class="invalid-feedback">Indicate the square meters</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_reception">Reception available</label>
          <div class="col-sm-10">
            <input {% if instance_object.reception %} checked {% endif %}type="checkbox" name="reception" class="form-check-input" id="id_reception" />
            <div class="invalid-feedback">Inidcate if there is a reception</div>
          </div>
        </div>

        {% if form_action == 'update' %}
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_public_ips">Public IP(s)</label>
          <div class="col-sm-10">
            <select multiple class="select tom-select" id="id_public_ips" name="public_ips">
              {% if instance_object.public_ips %}
                {% for object in instance_object.public_ips.all %}
                  <option selected value="{{ object.id }}">{{ object.ip }}</option>
                {% endfor %}
              {% else %}
                <option value="">Select a public IP</option>
              {% endif %}
              {% for option in all_public_ip %}
                <option value="{{ option.id }}">{{ option.ip }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select one or more public IP</div>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Room information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_meeting_rom_quantity">Meeting room quantity</label>
          <div class="col-sm-10">
            <input type="number" name="meeting_rom_quantity" class="form-control" id="id_meeting_rom_quantity" value="{{ instance_object.meeting_rom_quantity }}" />
            <div class="invalid-feedback">Indicate a precence target</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_phonebooth_quantity">Phonebooth quantity</label>
          <div class="col-sm-10">
            <input type="number" name="phonebooth_quantity" class="form-control" id="id_phonebooth_quantity" value="{{ instance_object.phonebooth_quantity }}" />
            <div class="invalid-feedback">Indicate a precence target</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_amphitheater_quantity">Amphitheater quantity</label>
          <div class="col-sm-10">
            <input type="number" name="amphitheater_quantity" class="form-control" id="id_amphitheater_quantity" value="{{ instance_object.amphitheater_quantity }}" />
            <div class="invalid-feedback">Indicate a precence target</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Statistic information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_target_presence">Target precence</label>
          <div class="col-sm-10">
            <input type="number" name="target_presence" class="form-control" id="id_target_presence" value="{{ instance_object.target_presence }}" />
            <div class="invalid-feedback">Indicate a precence target</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Customisation information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_banner">Banner image (2252x500 px)</label>
          <div class="col-sm-10">
            <input type="file" name="banner" class="form-control" id="id_banner" value="{{ instance_object.banner }}" />
            <div class="invalid-feedback">laod a banner image</div>
          </div>
        </div>
        {% include 'generic/views/create_update/elements/create_update_submit_button.html' %}
      </div>
    </div>
  </div>
{% endblock %}
