{% extends 'generic/core/core.html' %}

{% load static %}

{% load service_custom_tags %}

{% block content %}
  {% setvar request.resolver_match.view_name as view_name %}

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <h5 class="card-header">{{ list_view_title|title }}</h5>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Year</th>
              <th scope="col">Date</th>
              <th scope="col">Office</th>
              <th scope="col">Count of employee</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for object in instance_object %}
              <tr>
                <td>{{ object.YEAR }}</td>
                <td>{{ object.DATE }}</td>
                <td>{{ object.OFFICE }}</td>
                <td>{{ object.COUNT }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% if page_obj %}
      {% include 'generic/elements/pagination.html' %}
    {% endif %}
  </div>
{% endblock %}
