{% extends "generic/views/details_view/details_view.html" %}

{% load static %}
{% load service_custom_tags %}

{% block nav_menue %}
{% include 'generic/views/details_view/elements/li_tab_core.html' with tab_name='main' tab_active_value='active' %}
{% endblock nav_menue %}


{% block nav_content %}

<!-- tab -->
<div class="tab-pane fade show active" id="navs-pills-top-main" role="tabpanel">
  <div class="card mb-4">
    <h5 class="card-header">Main</h5>
    <div class="card-body">
      <div class="row">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{ instance_object.name }}</td>
            </tr>
            <tr>
              <td>Firstname</td>
              <td>{{ instance_object.firstname }}</td>
            </tr>
            <tr>
              <td>Lastname</td>
              <td>{{ instance_object.lastname }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ instance_object.email }}</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>{{ instance_object.phone }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% include 'generic/views/details_view/elements/button_update.html' with placeholder_edit_url=update_url%}
</div>
{% endblock nav_content %}
