{% extends "generic/views/create_update/create_update_view.html" %}
{% block form_field %}

<!-- Basic Layout -->
<div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Mandatory information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>
      <div class="card-body">

                <div class="row mb-3">
                    <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_name">Contact Name</label>
                  <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" id="id_name" required maxlength="255"
                            placeholder="255 charts max" value="{{ instance_object.name }}">
                        <div class="invalid-feedback">
                            Name is required.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
            

<!-- Basic Layout -->
<div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Optional informations</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>
      <div class="card-body">


                            <div class="row mb-3">
                                <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_firstname">Firstname</label>
                                <div class="col-sm-10">
                                    <input type="text" name="firstname" class="form-control" id="id_firstname" maxlength="255"
                                        placeholder="" value="{{ instance_object.firstname }}">
                                    <div class="invalid-feedback">
                                        Indicated an firstname
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_lastname">Lastname</label>
                                <div class="col-sm-10">
                                        <input type="text" name="lastname" class="form-control" id="id_lastname" maxlength="255"
                                            placeholder="" value="{{ instance_object.lastname }}">
                                        <div class="invalid-feedback">
                                            Indicated a lastname
                                        </div>
                                    </div>
                                </div>


                                    <div class="row mb-3">
                                <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_email">Contact email</label>
                                <div class="col-sm-10">

                                    {% if instance_object.email != blank %}
                                    <input type="email" name="email" class="form-control" id="id_email" maxlength="255"
                                                placeholder="" value="{{ instance_object.email }}">
                                    {% else %}
                                    <input type="email" name="email" class="form-control" id="id_email" maxlength="255"
                                                placeholder="" value="">
                                    
                                    {% endif %}
                                            
                                            <div class="invalid-feedback">
                                                Indicated an email address.
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_phone">Phone number</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="phone" class="form-control" id="id_phone" maxlength="255"
                                                    placeholder="+34 689 67 68 99" value="{{ instance_object.phone }}">
                                                <div class="invalid-feedback">
                                                    Indicated a phone number
                                                </div>
                                            </div>   
                                        </div> 
                                        {% include 'generic/views/create_update/elements/create_update_submit_button.html' %}   
                                    </div> 
                                </div> 
                            </div>                    
{% endblock %}