{% load service_custom_tags %}
  <!-- tab -->
  <div
    class="tab-pane fade {{ tab_active_value }}"
    id="navs-pills-top-main"
    role="tabpanel"
  >
    <div class="card mb-4">
      <h5 class="card-header">Main</h5>
      <div class="card-body">
        <div class="row">

<table class="table table-borderless">
  <tbody>

<tr>
  <td>Name</td>
  <td>{{ instance_object.name }}</td>
</tr>
<tr>
  <td>Email</td>
  <td>{{ instance_object.email }}</td>
</tr>
<tr>
  <td>Phone</td>
  <td>{{ instance_object.phone }}</td>
</tr>
<tr>
  <td>Address</td>
  <td>{{ instance_object.address }}</td>
</tr>
<tr>
  <td>Street Number</td>
  <td>{{ instance_object.street_number }}</td>
</tr>
<tr>
  <td>Zip Code</td>
  <td>{{ instance_object.zip_code }}</td>
</tr>
<tr>
  <td>City</td>
  <td>{{ instance_object.city }}</td>
</tr>
<tr>
  <td>Country</td>
  <td>{{ instance_object.country }}</td>
</tr>

<tr>
  <td>Currency Preffered</td>
  <td>{{ instance_object.currency_preffered }}</td>
</tr>
<tr>
  <td>VAT Number</td>

  <td>{{ instance_object.vat_number }}</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
{% include 'generic/views/details_view/elements/button_update.html' with placeholder_edit_url=update_url%}
</div>