{% extends 'generic/views/list_view/list_view.html' %}
{% block table_header %}
<tr>
  <th scope="col">Action</th>
  <th scope="col">Name</th>
  <th scope="col">Last modified</th>
  <th scope="col">Size</th>
</tr>

{% endblock %}
{% block table_body %}
{% for object in file_list %}
<tr>
  <td><a class="btn btn-sm btn-primary" href="{{ object.url }}">
      <span class="bx bx-cloud-download"></span>
    </a></td>
  <td>{{ object.name }}</td>
  <td>{{ object.last_modified|date:'d/m/Y H:i:s' }}</td>
  <td>{{ object.size }} MB</td>
</tr>
{% endfor %}
{% endblock %}