{% extends 'generic/views/create_update/create_update_view.html' %}
{% block form_field %}
  {% load humanize %}
  <!-- Basic Layout -->
  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Mandatory information</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>

      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_name">Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="id_name" required maxlength="255" placeholder="255 charts max" value="{{ instance_object.name }}" />
            <div class="invalid-feedback">Name is required.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Optional informations</h5>
        <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
      </div>

      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_invoice_email">Invoice email</label>
          <div class="col-sm-10">
            <input type="email" name="invoice_email" class="form-control" id="id_invoice_email" maxlength="255" placeholder="" value="{{ instance_object.invoice_email }}" />
            <div class="invalid-feedback">Indicated an invoice email address.</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_vat_number">VAT number</label>
          <div class="col-sm-10">
            <input type="text" name="vat_number" class="form-control" id="id_vat_number" maxlength="255" placeholder="" value="{{ instance_object.vat_number }}" />
            <div class="invalid-feedback">Indicated a VAT number</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_address">Address</label>
          <div class="col-sm-10">
            <input type="text" name="address" class="form-control" id="id_address" maxlength="255" placeholder="" value="{{ instance_object.address }}" />
            <div class="invalid-feedback">Indicated an address</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_street_number">Street number</label>
          <div class="col-sm-10">
            <input type="text" name="street_number" class="form-control" id="id_street_number" maxlength="255" placeholder="" value="{{ instance_object.street_number }}" />
            <div class="invalid-feedback">Indicated a street number</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_zip_code">ZIP code</label>
          <div class="col-sm-10">
            <input type="text" name="zip_code" class="form-control" id="id_zip_code" maxlength="255" placeholder="" value="{{ instance_object.zip_code }}" />
            <div class="invalid-feedback">Indicated a zip_code</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_city">City</label>
          <div class="col-sm-10">
            <input type="text" name="city" class="form-control" id="id_city" maxlength="255" placeholder="" value="{{ instance_object.city }}" />
            <div class="invalid-feedback">Indicated a city</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_country">Country</label>
          <div class="col-sm-10">
            <input type="text" name="country" class="form-control" id="id_country" maxlength="255" placeholder="" value="{{ instance_object.country }}" />
            <div class="invalid-feedback">Indicated a country</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_country">Brand name</label>
          <div class="col-sm-10">
            <input type="text" name="brand_name" class="form-control" id="id_brand_name" maxlength="255" placeholder="" value="{{ instance_object.brand_name }}" />
            <div class="invalid-feedback">Indicated a brand name</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_activity">Activity</label>
          <div class="col-sm-10">
            <input type="text" name="activity" class="form-control" id="id_activity" maxlength="255" placeholder="" value="{{ instance_object.activity }}" />
            <div class="invalid-feedback">Indicated an activity</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_incorporation_date">incorporation_date</label>
          <div class="col-sm-10">
            <input type="date" name="incorporation_date" class="form-control" id="id_incorporation_date" value="{{ instance_object.incorporation_date|date:'d/m/Y' }}" />
            <div class="invalid-feedback">Indicated a date</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_share_capital">Share capital</label>
          <div class="col-sm-10">
            <input type="number" name="share_capital" class="form-control" id="id_share_capital" placeholder="" value="{{ instance_object.share_capital }}" />
            <div class="invalid-feedback">Indicated a number</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_tax_id">Tax ID</label>
          <div class="col-sm-10">
            <input type="text" name="tax_id" class="form-control" id="id_tax_id" maxlength="255" placeholder="" value="{{ instance_object.tax_id }}" />
            <div class="invalid-feedback">Indicated a tax ID</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_trade_register">trade_register</label>
          <div class="col-sm-10">
            <select required class="select tom-select" id="id_trade_register" name="trade_register">
              {% for option in form.trade_register %}
                {{ option }}
              {% endfor %}
            </select>
            <div class="invalid-feedback">Indicated a trade register</div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_shareholders">Shareholders</label>
          <div class="col-sm-10">
            <input type="text" name="shareholders" class="form-control" id="id_shareholders" maxlength="255" placeholder="" value="{{ instance_object.shareholders }}" />
            <div class="invalid-feedback">Indicated a shareholders</div>
          </div>
        </div>

        {% include 'generic/views/create_update/elements/create_update_submit_button.html' %}
      </div>
    </div>
  </div>
{% endblock %}
