{% extends "generic/views/create_update/create_update_view.html" %}
{% block form_field %}
<!-- Basic Layout -->
<div class="col-xxl">
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Mandatory information</h5>
      <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
    </div>

    <div class="card-body">
      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_name"
          >Name</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            name="name"
            class="form-control"
            id="id_name"
            required
            maxlength="255"
            placeholder="255 charts max"
            value="{{ instance_object.name }}"
          />
          <div class="invalid-feedback">Name is required.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xxl">
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Optional informations</h5>
      <small class="text-muted float-end">{{ custom_title|capfirst }}</small>
    </div>

    <div class="card-body">
      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_email"
          >Email</label
        >
        <div class="col-sm-10">
          <input
            type="email"
            name="email"
            class="form-control"
            id="id_email"
            maxlength="255"
            placeholder=""
            value="{{ instance_object.email }}"
          />
          <div class="invalid-feedback">Indicated an email address.</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_phone"
          >Phone number</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            name="phone"
            class="form-control"
            id="id_phone"
            maxlength="255"
            placeholder="+34 689 67 68 99"
            value="{{ instance_object.phone }}"
          />
          <div class="invalid-feedback">Indicated a phone number</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_address"
          >Address</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            name="address"
            class="form-control"
            id="id_address"
            maxlength="255"
            placeholder=""
            value="{{ instance_object.address }}"
          />
          <div class="invalid-feedback">Indicated an address</div>
        </div>
      </div>

      <div class="row mb-3">
        <label
          class="col-sm-2 col-col-sm-2 col-form-label"
          for="id_street_number"
          >Street number</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            name="street_number"
            class="form-control"
            id="id_street_number"
            maxlength="255"
            placeholder=""
            value="{{ instance_object.street_number }}"
          />
          <div class="invalid-feedback">Indicated a street number</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_zip_code"
          >ZIP code</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            name="zip_code"
            class="form-control"
            id="id_zip_code"
            maxlength="255"
            placeholder=""
            value="{{ instance_object.zip_code }}"
          />
          <div class="invalid-feedback">Indicated a zip_code</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_city"
          >City</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            name="city"
            class="form-control"
            id="id_city"
            maxlength="255"
            placeholder=""
            value="{{ instance_object.city }}"
          />
          <div class="invalid-feedback">Indicated a city</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_country"
          >Country</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            name="country"
            class="form-control"
            id="id_country"
            maxlength="255"
            placeholder=""
            value="{{ instance_object.country }}"
          />
          <div class="invalid-feedback">Indicated a country</div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-col-sm-2 col-form-label" for="id_vat_number"
          >VAT number</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            name="vat_number"
            class="form-control"
            id="id_vat_number"
            maxlength="255"
            placeholder=""
            value="{{ instance_object.vat_number }}"
          />
          <div class="invalid-feedback">Indicated a VAT number</div>
        </div>
      </div>

      <div class="row mb-3">
        <label
          class="col-sm-2 col-col-sm-2 col-form-label"
          for="id_currency_preffered"
          >Preffered currency</label
        >
        <div class="col-sm-10">
          {% if instance_object.currency_preffered == blank %}
          <input
            type="text"
            name="currency_preffered"
            class="form-control"
            id="id_currency_preffered"
            minlength="3"
            maxlength="3"
            placeholder="EUR"
            value=""
          />
          {% else %}
          <input
            type="text"
            name="currency_preffered"
            class="form-control"
            id="id_currency_preffered"
            minlength="3"
            maxlength="3"
            placeholder="EUR"
            value="{{ instance_object.currency_preffered }}"
          />
          {% endif %}
          <div class="invalid-feedback">
            Indicated a preffered currency in ISO code format like EUR or USD
          </div>
        </div>
      </div>


      {% include 'generic/views/create_update/elements/create_update_submit_button.html' %}

    </div>
  </div>
</div>



{% endblock %}
