{% load static %}
<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path={% static 'theme/sneat/assets/' %}
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Service Catalogue</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href={% static 'theme/sneat/assets/img/favicon/favicon.ico' %} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Tom Select-->
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/css/tom-select.css" rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% comment %} <link rel="stylesheet" href={% static 'theme/sneat/assets/vendor/fonts/boxicons.css' %} />
    <link rel="stylesheet" href={% static 'theme/sneat/assets/vendor/fonts/boxicons/boxicons.eot' %} />
    <link rel="stylesheet" href={% static 'theme/sneat/assets/vendor/fonts/boxicons/boxicons.woff2' %} />
    <link rel="stylesheet" href={% static 'theme/sneat/assets/vendor/fonts/boxicons/boxicons.woff' %} />
    <link rel="stylesheet" href={% static 'theme/sneat/assets/vendor/fonts/boxicons/boxicons.ttf' %} />
    <link rel="stylesheet" href={% static 'theme/sneat/assets/vendor/fonts/boxicons/boxicons.svg' %} /> {% endcomment %}

    <!-- Core CSS -->
    <link rel="stylesheet" href={% static 'theme/sneat/assets/vendor/css/core.css' %} class="template-customizer-core-css" />
    <link rel="stylesheet" href={% static 'theme/sneat/assets/vendor/css/theme-default.css' %} class="template-customizer-theme-css" />
    <link rel="stylesheet" href={% static 'theme/sneat/assets/css/demo.css' %} />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href={% static 'theme/sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %} />

    <link rel="stylesheet" href={% static 'theme/sneat/assets/vendor/libs/apex-charts/apex-charts.css' %} />

    <!-- Page CSS -->
    <link rel="stylesheet" href={% static 'css/main.css' %} />

    

    <!-- Helpers -->
    <script src={% static 'theme/sneat/assets/vendor/js/helpers.js' %}></script>
    
    <!-- chartJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src={% static 'theme/sneat/assets/js/config.js' %}></script>
    {% block extra_headers %}
    {% endblock extra_headers %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link href="{% static 'theme/sneat/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" rel="stylesheet">

    <script src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js"></script>
    <script src="{% static 'theme/sneat/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
    <script src="{% static 'theme/sneat/assets/js/tables-datatables-basic.js' %}"></script>
    

  </head>

  <body>

  {% block body %}
  {% endblock body %}

  {% include 'generic/core/scripts.html' %}
  </body>
  </html>