{% extends "generic/core/base.html" %}
{% load static %}
{% block body %}

<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    {% include 'generic/core/menu.html' %}

    <!-- Layout container -->
    <div class="layout-page">
      {% include 'generic/core/navbar.html' %}

      <!-- Content wrapper -->
      <div class="content-wrapper">
        {% block content %} {% endblock %}

        <!-- / Content -->

        {% include 'generic/core/footer.html' %}

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- Footer button -->

<!-- / Footer button -->

{% endblock %}
