{% load static %}
{% load service_custom_tags %}
{% get_app_version as app_version %}

{% get_public_configurations 'support_url' as sup_url %}
{% setvar 'https://gitlab.com/tle06/service-catalog/-/issues' as support_url %}
{% if sup_url.value %}
  {% setvar sup_url.value as support_url %}
{% endif %}

{% get_public_configurations 'documentation_url' as doc_url %}
{% setvar 'https://service-catalog.readthedocs.io/en/latest/' as documentation_url %}
{% if doc_url.value %}
  {% setvar doc_url.value as documentation_url %}
{% endif %}

<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
    <div class="mb-2 mb-md-0">
      ©<script>
         document.write(new Date().getFullYear())
       </script>, made with ❤️
    </div>
    <div>
      <a href="https://gitlab.com/tle06/service-catalog/-/blob/main/LICENSE" class="footer-link me-4" target="_blank">License</a>

      <a href="{{ documentation_url }}" target="_blank" class="footer-link me-4">Documentation</a>

      <a href="{{ support_url }}" target="_blank" class="footer-link me-4">Support</a>
      <a href="javascript:void(0);" target="_blank" class="footer-link me-4">Version: {{ app_version }}</a>
    </div>
  </div>
</footer>
<!-- / Footer -->
