{% load static %}
{% load service_custom_tags %}
{% setvar request.resolver_match.view_name as view_name %}

{% setvar 'service_search' as search_url %}
{% setvar 'service' as search_name %}

{% if 'service' in view_name %}
  {% setvar 'service_search' as search_url %}
  {% setvar 'service' as search_name %}
{% endif %}

{% if 'provider' in view_name %}
  {% setvar 'provider_search' as search_url %}
  {% setvar 'provider' as search_name %}
{% endif %}

{% if 'contract' in view_name %}
  {% setvar 'contract_search' as search_url %}
  {% setvar 'contract' as search_name %}
{% endif %}

{% if 'contact' in view_name %}
  {% setvar 'contact_search' as search_url %}
  {% setvar 'contact' as search_name %}
{% endif %}

{% if 'pricing' in view_name %}
  {% setvar 'pricing_search' as search_url %}
  {% setvar 'pricing' as search_name %}
{% endif %}

{% if 'hardware' in view_name %}
  {% setvar 'hardware_search' as search_url %}
  {% setvar 'hardware' as search_name %}
{% endif %}

{% if 'hardware_mapping' in view_name %}
  {% setvar 'hardware_mapping_search' as search_url %}
  {% setvar 'mapping' as search_name %}
{% endif %}

{% if 'building' in view_name %}
  {% setvar 'building_search' as search_url %}
  {% setvar 'building' as search_name %}
{% endif %}

{% if 'office' in view_name %}
  {% setvar 'building_search' as search_url %}
  {% setvar 'building' as search_name %}
{% endif %}

{% if 'company' in view_name %}
  {% setvar 'company_search' as search_url %}
  {% setvar 'company' as search_name %}
{% endif %}

<!-- Navbar -->

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)"><i class="bx bx-menu bx-sm"></i></a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
        <form action="{% url search_url %}" method="get">
          <input type="text" class="form-control border-0 shadow-none" placeholder="Search in {{ search_name }}" aria-label="Search in {{ search_name }}" name="query" />
        </form>
      </div>
    </div>
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <!-- Place this tag where you want the button to render. -->

      {% include 'generic/core/user_menu.html' %}
    </ul>
  </div>
</nav>

<!-- / Navbar -->
