{% load static %}

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src={% static 'theme/sneat/assets/vendor/libs/jquery/jquery.js' %}></script>
<script src={% static 'theme/sneat/assets/vendor/libs/popper/popper.js' %}></script>
<script src={% static 'theme/sneat/assets/vendor/js/bootstrap.js' %}></script>
<script src={% static 'theme/sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}></script>
<script src={% static 'theme/sneat/assets/vendor/js/menu.js' %}></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src={% static 'theme/sneat/assets/vendor/libs/apex-charts/apexcharts.js' %}></script>

<!-- Main JS -->
<script src={% static 'theme/sneat/assets/js/main.js' %}></script>

<!-- Page JS -->
<script src={% static 'theme/sneat/assets/js/dashboards-analytics.js' %}></script>
<script src="{% static 'theme/sneat/assets/js/ui-popover.js' %}"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Tom select -->
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/js/tom-select.complete.min.js"></script>

<!-- main -->
<script src="{% static 'script/main.js' %}"></script>
<script src="{% static 'script/chart.js' %}"></script>