{% load static %}
<!-- User -->

<li class="nav-item navbar-dropdown dropdown-user dropdown">
    
  <a
    class="nav-link dropdown-toggle hide-arrow"
    href="javascript:void(0);"
    data-bs-toggle="dropdown"
  >
    <div class="avatar avatar-online">
        {% if user.is_authenticated %}
        {% if user.avatar %}
      <img src="{{ user.avatar.url }}" alt
      class="w-px-40 h-auto rounded-circle" />
      {% else %}
      <img src="{% static 'img/default-icon-image.png' %}" alt
      class="w-px-40 h-auto rounded-circle" />
      {% endif %}

      {% else %}
      
      <img src="{% static 'img/default-icon-image.png' %}" alt
      class="w-px-40 h-auto rounded-circle" />
      {% endif %}
    </div>
  </a>

  {% if user.is_authenticated %}
  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <a class="dropdown-item" href="#">
        <div class="d-flex">
          <div class="flex-shrink-0 me-3">
            <div class="avatar avatar-online">
              {% if user.avatar %}
              <img src={{ user.avatar.url }} alt
              class="w-px-40 h-auto rounded-circle" />
              {% else %}
              <img src={% static 'theme/sneat/assets/img/avatars/1.png'%} alt
              class="w-px-40 h-auto rounded-circle" />
              {% endif %}
            </div>
          </div>
          <div class="flex-grow-1">
            <span class="fw-semibold d-block">{{ user }}</span>
            {% if user.is_superuser %}
            <small class="text-muted">Admin</small>
            {% else %}
            <small class="text-muted">User</small>
            {% endif %}
          </div>
        </div>
      </a>
    </li>
    {% if user.is_authenticated %}
    <li>
      <div class="dropdown-divider"></div>
    </li>
    <li>
      <a class="dropdown-item" href="{% url 'account_details' %}">
        <i class="bx bx-user me-2"></i>
        <span class="align-middle">My Profile</span>
      </a>
    </li>
    {% comment %} <li>
      <a class="dropdown-item" href="#">
        <i class="bx bx-cog me-2"></i>
        <span class="align-middle">Settings</span>
      </a>
    </li> {% endcomment %}
    <li>
      <div class="dropdown-divider"></div>
    </li>
          <li>
          <form class="logout" method="POST" action="{% url 'account_logout' %}">
            {% csrf_token %}
            
            <button class="dropdown-item align-middle" type="submit"><i class='bx bx-exit me-2'></i>Sign out</button>
          </form>
        </li>
          {% endif %}

  </ul>
  {% endif %}
</li>

<!--/ User -->
