{% load static %} {% load service_custom_tags %}
{% get_public_configurations 'disable_edit_profile' as disable_edit_profile %}

<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="user-profile-header-banner">
        <img src="{% static 'img/banner.png' %}" alt="Banner image" class="rounded-top" />
      </div>
      <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
        <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
          {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img" />
          {% else %}
            <img src="{% static 'img/default-icon-image.png' %}" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img" />
          {% endif %}
        </div>
        <div class="flex-grow-1 mt-3 mt-sm-5">
          <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
            <div class="user-profile-info">
              <h4>{{ user.first_name }} {{ user.last_name }}</h4>
              <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                <li class="list-inline-item fw-semibold">
                  <i class="bx bx-calendar-alt"></i> {{ user.date_joined }}
                </li>
              </ul>
            </div>

            {% include 'account/profile/elements/upload_avatar.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
