{% load static %}
{% load service_custom_tags %}
{% load building_custom_tags %}
{% get_public_configurations 'disable_edit_profile' as disable_edit_profile %}

{% get_all_building as building %}

{% setvar '' as 'edit_disabled' %}

{% if disable_edit_profile %}
{% setvar 'disabled' as 'edit_disabled' %}
{% endif %}

<div
  class="tab-pane fade show active"
  id="navs-pills-top-account"
  role="tabpanel"
>
  <div class="card mb-4">
    <h5 class="card-header">Profile Details</h5>

    <div class="card-body">
      <form class="needs-validation"
      novalidate
      enctype="multipart/form-data"
      method="POST"
      action="{% url 'account_update' pk=user.id %}">
      {% csrf_token %}
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="id_first_name" class="form-label">First Name</label>
            <input
              class="form-control-plaintext profile_input_field"
              readonly
              type="text"
              id="id_first_name"
              name="first_name"
              value="{{ user.first_name }}"
              autofocus
            />
          </div>
          <div class="mb-3 col-md-6">
            <label for="id_last_name" class="form-label">Last Name</label>
            <input
              class="form-control-plaintext profile_input_field"
              readonly
              type="text"
              name="last_name"
              id="id_last_name"
              value="{{ user.last_name }}"
            />
          </div>
          <div class="mb-3 col-md-6">
            <label for="id_email" class="form-label">E-mail</label>
            <input
              class="form-control-plaintext"
              type="text"
              id="id_email"
              name="email"
              value="{{ user.email }}"
              placeholder="john.doe@example.com"
              readonly
            />
          </div>
          <div class="mb-3 col-md-6">
            <label for="id_company" class="form-label">Company</label>
        
            <input
              type="text"
              class="form-control-plaintext profile_select_input_field"
              id="id_company"
              name="company"
              value="{{ user.company }}"
              readonly
              
            />
           
              <select class="select tom-select" id="id_company" name="company" hidden>
                
                {% for option in companies.all %}
                <option value="{{ option.id }}">{{ option.name }}</option>
                {% endfor %}
              </select>
              <div class="invalid-feedback">Select a company</div>
    
          
          </div>




          <div class="mb-3 col-md-6">
            <label class="form-label" for="id_department">Department</label>
      
            <input
              type="text"
              class="form-control-plaintext profile_select_input_field"
              id="id_department_input"
              name="department"
              value="{{ user.department }}"
              readonly
            />
     
            <select class="form-select" id="id_department" name="department">
                
              {% for option in departments.all %}
              <option value="{{ option.id }}"
              {% if user.department.id == option.id %}
              selected
              {% endif %}
              >{{ option.name }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a department</div>
           
          </div>
          <div class="mb-3 col-md-6">
            <label class="form-label" for="id_subdepartment">Sub-Department</label>
            
            <input
              type="text"
              class="form-control-plaintext profile_select_input_field"
              id="id_subdepartment_input"
              name="subdepartment"
              value="{{ user.subdepartment }}"
              readonly
            />
    
            <select class="form-select" id="id_subdepartment" name="subdepartment">
                
              {% for option in subdepartments.all %}
              <option value="{{ option.id }}"
              {% if user.subdepartment.id == option.id %}
              selected
              {% endif %}
              data-dep-id="{{ option.department.id }}"
              >{{ option.name }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a sub-deparpment</div>
          
          </div>

          <div class="mb-3 col-md-6">
            <label class="form-label" for="id_title">Title</label>
            <input
              class="form-control-plaintext profile_input_field"
              readonly
              type="text"
              id="id_title"
              name="title"
              value="{{ user.title }}"
     
            />
          </div>

          <div class="mb-3 col-md-6">
            <label class="form-label" for="id_manager">Manager</label>
         
            <input
              type="text"
              class="form-control-plaintext profile_select_input_field"
              id="id_manager"
              name="manager"
              value="{{ user.manager }}"
              readonly
            />
        
            
            <select class="select tom-select" id="id_manager" name="manager" hidden>
                
              {% for option in users.all %}
              <option value="{{ option.id }}"
              {% if user.manager.id == option.id %}
              selected
              {% endif %}
              {% if user.id == option.id %}
              disabled
              {% endif %}
              >{{ option.email }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a manager</div>
        
          </div>

          <div class="mb-3 col-md-6">
            <label class="form-label" for="id_employeeNumber">Employee Number</label>
            <input
     
            class="form-control-plaintext profile_input_field"
            readonly
              type="text"
   
              id="id_employeeNumber"
              name="employeeNumber"
              value="{{ user.employeeNumber }}"
            />
          </div>

          <div class="mb-3 col-md-6">
            <label class="form-label" for="id_building_id">Building</label>
         
            <input
              type="text"
              class="form-control-plaintext profile_select_input_field"
              id="id_building_id"
              name="building_id"
              value="{{ user.building_id }}"
              readonly
            />
        
            
            <select class="select tom-select" id="id_building_id" name="building_id" hidden>
                
              {% for option in building.all %}
              <option value="{{ option.id }}"
              {% if user.building_id.id == option.id %}
              selected
              {% endif %}
              >{{ option.name }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">Select a building</div>
        
          </div>

          <div class="mb-3 col-md-6 form-check form-switch">
          <div class="form-check form-switch mb-2">
            <label class="form-check-label" for="id_is_active">Is active</label>
            <input class="form-check-input" type="checkbox" id="id_is_active" name="is_active" {% if user.is_active %}checked{% endif %} disabled/>
          </div>

          <div class="form-check form-switch mb-2">
            <label class="form-check-label" for="id_is_staff">Is staff</label>

      
            <input class="form-check-input" type="checkbox" id="id_is_staff" name="is_staff" {% if user.is_staff %}checked{% endif %} disabled/>
      
          </div>

          
          <div class="form-check form-switch mb-2">
            <label class="form-check-label" for="id_is_superuser">Is super user</label>
            <input class="form-check-input" type="checkbox" id="id_is_superuser" name="is_superuser" {% if user.is_superuser %}checked{% endif %} disabled/>

          </div>

        </div>

        
        <div class="mt-2">
          <button
          type="button"
          id="profile_edit_button"
          
          {% if disable_edit_profile %}
          disabled
          {% endif %}
          class="btn btn-primary me-2">
        
          Edit
        </button>

          <button
            type="submit" id="profile_submit_button"
            
            {% if disable_edit_profile %}
            disabled
            {% endif %}
            class="btn btn-primary me-2 profile_edit_button">
          
            Save changes
          </button>
          <button type="reset" class="btn btn-outline-secondary profile_edit_button" id="profile_cancel_button"
          {% if disable_edit_profile %}
          disabled
          {% endif %}
          >Cancel</button>

        </div>
        <script src="{% static 'script/profile.js' %}"></script>
      <script src="{% static 'script/dep-subdep.js' %}"></script>
        
      </form>
    </div>
  </div>
</div>


